.container {
  text-align: center;
}

.image-container {
  display: inline-block;
  position: relative;
}

#highlighted-element {
  position: absolute;
  width: 20px;
  height: 20px;
  /*background-color: red;*/
}

@media (max-width: 480px) {
  .image-container {
    width: 100%;
  }
  #task-image {
    width: 100%;
  }
  #highlighted-element {
    width: 10px;
    height: 10px;
  }