.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.image-container {
  display: inline-block;
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  text-align: center;
}

#highlighted-element {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  opacity: 0.15;
}

@media (max-width: 480px) {
  .image-container {
    width: 100%;
  }
  #task-image {
    width: 100%;
  }
  #highlighted-element {
    width: 10px;
    height: 10px;
  }